db {
   driver = com.mysql.jdbc.Driver
   url = jdbc:mysql://localhost/docregweb
   user = docreguser
   password = changeit
}
agent {
   server = localhost
   home = /home/docreg
   secure = true
}
ldap {
   url = "ldap://dcgnetnz1.gnet.global.vpn:3268"
   user = "gnet\ldapuser"
   password = "changeit"
}