body {
  margin: 0px 1.5em 1.5em 1.5em;
}
a {
  color: #369;
  text-decoration: none;
}
a:visited {
  color: #369;
}
a:hover {
  color: #fff;
  background-color: #369;
}
#loading {
  background-color: #f9e5ec;
  border-bottom-left-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
}
.nowrap {
  white-space: nowrap;
}
#log {
  margin: 0;
  list-style: none;
}
#log li {
  padding: 8px 6px 8px 6px;
}
.projects {
  margin: 0;
  list-style: none;
}

.edit_error_class {
  display: block;
  color: red;
}

#notices ul {
	margin:0;
	padding:0;
      }
#notices ul li {
	margin:0;
	padding:0;
	list-style:none;
}

.sidebar ul {
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
}

.sidebar ul li {
	margin:0;
	padding:0;
	list-style:none;
	border:1px solid #ccc;
	border-bottom:none;
}

.sidebar ul li a {
	display:block;
	padding:3px;
	text-indent:30px;
	text-decoration:none;
}

.sidebar ul li span {
	display:block;
	padding:3px;
	text-indent:30px;
	text-decoration:none;
}

.sidebar ul li a:hover {
	background-color: #eee;
}
.roundbox {
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
}
.baseline-align-cells th {
  vertical-align: baseline;
}
.baseline-align-cells td {
  vertical-align: baseline;
}
.revision {
  color: #c62;
}
.smalltextarea {
  height: 100px;
}
.row-highlight {
  background-color: #dfefff;
}
.border-top {
  border-top: 1px solid #ddd;
}
#lift__noticesContainer___notice {
  color: #859900;
}
#lift__noticesContainer___warning {
  color: #cb4b16;
}
#lift__noticesContainer___error {
  color: #d33682;
}
#lift__noticesContainer__ {
    margin-bottom: 1em;
}
#lift__noticesContainer__ ul {
	margin:0;
	padding:0;
}
#lift__noticesContainer__ ul li {
	margin:0;
	padding:0;
	list-style:none;
}
